@tailwind base;
@tailwind components;
@tailwind utilities;

#site-logo {
    font-size: 5rem;
    font-weight: 800;
    font-family: cursive;
}
.lara-btn{
    border-width: 1px;
    border-color: transparent;
    padding: 0.75rem 3rem !important;
    outline: none !important;
    cursor: pointer;
    transition: 0.2s all;
}
.lara-btn.outline{
    border-color: red;
}
.lara-btn.fill{
    background: red;
    color: #f1f1f1;
}
.lara-btn.outline:hover{
    background: red;
    color: #f1f1f1;
}
.lara-btn.fill:hover{
    background: transparent;
    border-color: red;
    color: inherit;
}
.lara-primary-color{
    color: red !important;
}
.lara-heading{
    margin-bottom: 2rem;
    font-size: 2rem;
}

header{
    margin-bottom: 2.5rem;
}
form.lara-form input,form.lara-form textarea{
    border-radius: 5px;
    padding: 0.75rem 1rem;
    border: 1px solid grey;
    width: 100%;
}
.container{
    width: 100%;
    margin: 0 auto;
}
.row{
    margin-left:-15px ;
    margin-right: -15px;
}
.row .col{
    margin-left:15px ;
    margin-right:15px;
}
section.first-section{
    background: #eee;
}
section{
    padding: 2rem 0;
}
